/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* GENERICS */

.container {
    width: 1180px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn {
    background-color: #0061FF;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.small-container {
    width: 980px;
    margin: 0 auto;
}


/* DEBUG */

/* HEADER */

.nav {
    position: fixed;
    z-index: 1;
    overflow: auto;
    margin: 0 auto;
    width: 100%;
    color: black;
    background-color: #FFFFFF;
    font-size: 1rem;
    font-weight: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 1rem .5rem;
}

.header-list {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.header-links {
    display: inline-block;
    list-style-type: none;
    padding: 0 1.5rem;
}

.header-links>a {
    text-decoration: none;
    color: black;
}

.header-links.btn.top {
    padding-top: .3rem;
    padding-bottom: .3em;
}

.header-links.btn.top>a {
    color: white;
}

.text-col>i {
    margin-top: 2rem;
    font-size: 2rem;
}

/* MAIN */

/* HERO SECTION */


.hero {
    padding-top: 72px;
    width: 100%;
    background-color: #B4D0E7;
    height: 80vh;
}


.title.container {
    width: 1180px;
    margin: 0 auto;
    text-align: left;
    font-size: 5rem;
    padding: 3.5rem 0;
}


.hero-paragraph {
    font-size: 1.3rem;
    line-height: 1.5rem;
    font-weight: 100;
    margin-bottom: 2rem;
}

.btn.free-trial {
    padding: 1rem 1.5rem;
    color: white;
    border: none;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.hero-img {
    max-width: 75%;
}


/* THREE COLUMN SECTION */

.radio-title {
    font-weight: 100;
    margin-top: 12rem;
    margin-bottom: 3rem;
}

.business-title {
    font-size: 2rem;
    margin-bottom: 3rem;
}

.monthly-sub {
    margin-right: 3rem;
}

.three-cols {
    display: flex;
    justify-content: center;
    font-size: 13px;
    gap: 1.5rem;
}

.mid-col {
    width: calc(100% / 3);
    text-align: center;
    border: 1px solid #B3A39E;
}

.user-space {
    padding: .7rem 0;
    border-bottom: 1px solid #B3A39E;
    margin-bottom: 2rem;
}

.user-space>i {
    margin-right: .2rem;
}


.main-space {
    text-align: start;
    font-weight: 100;
    padding: 0 1.5rem;
}


.enterprise-title {
    margin-bottom: 1rem;
    letter-spacing: 2px;
}

.price {
    font-weight: bold;
    margin-bottom: 1rem;
}

.sub-time {
    color: #B3A39E;
    margin-bottom: 2rem;
}

.main-list {
    list-style-type: none;
    margin: 2rem 0;
}

.main-list-items {
    padding: 1rem 0;
}

.fa-solid {
    margin-right: .3rem;
}


.btn.col {
    display: block;
    color: white;
    border: none;
    padding: .8rem 1.5rem;
    letter-spacing: 2px;
}

.buy-now-link {
    margin-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: .5rem;
}


.buy-now-link::after {
    margin-top: 2rem;
    border-bottom: .5px solid #B3A39E;
    width: 30px;
    display: block;
    content: "";
}


.fa-check {
    color: #0061FF;
}


.col-row {
    width: 100%;
    margin-top: 1.5rem;
    text-align: center;
    border: 1px solid #B3A39E;
    padding-bottom: 3rem;
}

.row-paragraph {
    font-weight: 500;
    margin-bottom: 1.5rem;

}

.left-col {
    max-width: 650px;
}

.right-col {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: flex-start;
}

/* PARTNER SECTION */


.partner-section {
    margin: 6rem 0;
}

.row {
    width: 100%;
    gap: 2rem;
}

.img-col {
    width: 60%;
}

.text-col {
    width: 40%;
}

.col-title {
    font-size: 2rem;
    padding: 2rem 0;
}

.col-text {
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 1.5rem;
}

.btn.partner {
    background-color: #fff;
    font-size: 18px;
    padding: .8rem 1.5rem;
}


/* CARD SECTION */

.card-section {
    padding: 3rem 0;
}

.card-header {
    font-size: 3rem;
    margin-bottom: 6rem;
}

.card-row {
    width: 100%;
    flex-wrap: wrap;
    gap: 2rem;
}

.card {
    width: calc((100% / 3) - 2rem);
}

.card-title {
    font-size: 1.5rem;
    margin: 1rem 0;
}


/* TEAMS SECTION*/

.team-section {
    margin: 3rem 0;
}

.team-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
    margin: 6rem 0;
}

.team-title {
    font-size: 2rem;
    font-weight: 600;
    width: 55%;
    line-height: 50px;
    letter-spacing: 3px;
}


.team-card {
    width: calc(100% / 3);
    display: flex;
    flex-wrap: wrap;
}


.brand-img {
    width: calc(100% / 2);
    height: calc(100% / 2);
    padding: 4rem;
}


.green-bg {
    background-color: #A3D39B;
    border: 1rem solid #D1E9CD;
}

.magenta-bg {
    background-color: #61082B;
}

.lightblue-bg {
    background-color: #0093CE;
}

.red-bg {
    background-color: #FF1C1C;
}

.team-card.center {
    background-color: #F5F5F5;
    padding: 2rem;
    text-align: left;
    line-height: 20px;
}

.center-img::after {
    margin-top: 2rem;
    border-bottom: .5px solid #B3A39E;
    width: 100px;
    display: block;
    content: "";
}

.center-text,
.center-signature {
    font-weight: 300;
}


.darkred-bg {
    background-color: #D5001F;
}

.azure-bg {
    background-color: #B4D0E7;
}

.blue-bg {
    background-color: #0D2481;
}

.yellow-bg {
    background-color: #FED831;
}


.brand-img>img {
    color: white;
}

/* FOOTER */