/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* GENERICS */

.mid-container {
    width: 1180px;
    margin: 0 auto;
}

.disCol {
    display: flex;
}

.btn {
    background-color: #0061FF;
    padding-top: .5rem;
    padding-bottom: .5rem;
}


/* DEBUG */

/* HEADER */

.nav {
    position: fixed;
    z-index: 1;
    overflow: auto;
    margin: 0 auto;
    width: 100%;
    color: black;
    background-color: #FFFFFF;
    font-family: 'Barlow', sans-serif;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 1rem .5rem;
}

.title.container {
    width: 1180px;
    margin: 0 auto;
    text-align: left;
    font-size: 5rem;
    padding: 3.5rem 0;
}

.headerList {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}


.headerLinks {
    display: inline-block;
    list-style-type: none;
    padding: 0 1.5rem;
}

.headerLinks>a {
    text-decoration: none;
    color: black;
}

.headerLinks.btn.top>a {
    color: white;
}

/* MAIN */

/* HERO SECTION */

.hero {
    padding-top: 72px;
    width: 100%;
    background-color: #B4D0E7;
    height: 80vh;
}

.mainP {
    font-size: 1.3rem;
    line-height: 1.5rem;
    font-weight: normal;
    margin-bottom: 2rem;
}

.btn.freeTrial {
    padding: 1rem 1.5rem;
    color: white;
    border: none;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.hero-img {
    max-width: 75%;
}

.firstCol>i {
    margin: 2rem 0;
    font-size: 2rem;
}


/* THREE COLUMN SECTION */

.small-container {
    width: 980px;
    margin: 0 auto;

}

.radioTitle {
    font-weight: 100;
    margin-top: 12rem;
    margin-bottom: 3rem;
}

.businessTitle {
    font-size: 2em;
    margin-bottom: 3rem;
}

.monthlySub {
    margin-right: 3rem;
}

.threeCols {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}


.midCol {
    width: calc(100% / 3);
    text-align: center;
    border: 1px solid #B3A39E;



    min-height: 350px;
}

.userSpace {
    padding: .7rem 0;
    border-bottom: 1px solid #B3A39E;
    margin-bottom: 2rem;
}

.userSpace>i {
    margin-right: .2rem;
}


.mainSpace {
    text-align: start;
    padding-left: 2rem;
    font-weight: 100;
}


.colTitle {
    margin-bottom: 1rem;
    letter-spacing: 2px;
}

.price {
    font-weight: bold;
    margin-bottom: 1rem;
}

.subTime {
    color: #B3A39E;
    margin-bottom: 2rem;
}

.mainList {
    list-style-type: none;
    margin-top: 2rem;
}

.mainListItems {
    padding: 1rem .8rem;
}

.fa-solid {
    margin-right: .5rem;
}


.btn.col {
    display: block;
    color: white;
    margin: 2rem 0;
    border: none;
    padding: .8rem 1.5rem;
    letter-spacing: 2px;
}

.midLink {
    margin-bottom: 2rem;
}

.fa-check {
    color: #0061FF;
}

/* FOOTER */